@-webkit-keyframes boom{
	0% {
		transform: translateX(-400px)  translateY(400px);
		-webkit-transform: translateX(-400px)  translateY(400px);
		

	}
	100% {}
}
@-webkit-keyframes text{
	0% {
		transform:translate3d(50px,300px,0) scale(2);
	}
	100% {
		-webkit-transform: translate3d(90px,200px,0) scale(1);

	}
}
@-webkit-keyframes changE{
	0% {
		transform:translate3d(-300px,0,0);
	}
	100% {
		-webkit-transform: translate3d(20px,0,0);

	}
}

@-webkit-keyframes qing{
	0% {
		transform: translateX(-158px);
		-webkit-transform: translateX(-158px);
		
	}
	100% {opacity: 1;}
}
@-webkit-keyframes arrow{
	0% {
		transform: translateY(30px);
		-webkit-transform: translateY(30px);
		
	}
	100% {
		transform: translateY(-50px);
		-webkit-transform: translateY(-50px);
		
	}
}
@-webkit-keyframes arrowOut{
	0% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes starOut{
	0% {opacity: 1;}

	100% {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		opacity: 0;
		transform: translateX(-800px) ;
		
	}
}
@-webkit-keyframes boomOut{
	0% {opacity: 1;}
	100% {
		opacity: 0;transform: translateX(400px) translateY(-400px);
		-webkit-transform: translateX(400px) translateY(-400px);
		
	}
}
@-webkit-keyframes textOut{
	0% {opacity: 1;}
	100% {
		opacity: 0;transform: translateY(100px);
		-webkit-transform: translateY(100px);
		
	}
}
@-webkit-keyframes qingOut{
	0% {opacity: 1;}
	100% {opacity: 0;transform: translateX(158px);
		-webkit-transform: translateX(158px);
		
	}
}
@-webkit-keyframes table{
	0% {opacity: 1;}
	100% {
		opacity: 0;
		-webkit-transform: translateY(100px);
	}
}
@-webkit-keyframes moveOut{
	0%{	z-index: 9;	}
	100%{
		background:#5f4ac3;
		z-index: 1;
	}
}

@-webkit-keyframes moveIn{
	0%{	z-index: 1;	}
	100%{
		z-index: 9;
	}
}
@-webkit-keyframes moveIn_1{
	0%{z-index: 1;}
	100%{z-index: 9;}
}
@-webkit-keyframes moveOut_1{
	0%{z-index: 9;background: #5f4ac3;}
	100%{z-index: 1;background: #2d4081;}
}




@-webkit-keyframes plan_1{
	0% {
		
	}
	100% {
		-webkit-transform: translateX(560px) translateY(-500px);
		transform: translateX(560px) translateY(-500px);
		width: 0px;
		opacity: 1;
	}
}
@-webkit-keyframes withMe{
	0% { opacity: 0; }
	100% {
		width: 100%;
		height: 114px;
		opacity: 1;
	}
}
@-webkit-keyframes widthMeOut{
	0% {  width: 100%;
		height: 114px;
		opacity: 1;}
	100% {
		opacity: 0;
		width: 200%;
		height: 228px;
	}
}
@-webkit-keyframes rocker{
	0% { 
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-200px);
		transform: translateY(-200px);
		opacity: 1;
	}
}
@-webkit-keyframes rockerOut{
	0% { 
	
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(200px);
		transform: translateY(200px);
	}
}
@-webkit-keyframes moon{
	0%{
		opacity: 0;
	}
	100%{
		-webkit-transform: translateY(300px);
		transform: translateY(300px);
		opacity: 1;
	}
}
@-webkit-keyframes moonOut{
	0%{
		-webkit-transform: translateY(300px);
		transform: translateY(300px);
		opacity: 1;
	}
	100%{
		opacity: 0;
		-webkit-transform: translateY(-300px);
		transform: translateY(-300px);
	}
}
@-webkit-keyframes singHit{
	0% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
		opacity: 1;
	}
}
@-webkit-keyframes singHitOut{
	0% {
		
		-webkit-transform: translateY(-0px);
		transform: translateY(30px);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}