html,body{
	width: 100%;
	height: 100%;
}
html,body,li{

	overflow: hidden;

	margin:0;
	padding:0;
	border:0;
}
li{
	list-style: none;
}

section{
	width: 100%;
	height: 100%;
	background:#2d4081;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.Index_2{
	background: #5f4ac3;
}
.text{
	background:url(../img/words.png) no-repeat;
	width: 280px;
	height: 120px;
	position: relative;
    top: -120px;
    left: -80px;
	animation:text 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.changE{
	width: 397px;
	height: 387px;
	background: url(../img/changeBk.png);
	position: relative;
    top: 100px;
    left: -100px;
    animation:changE 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
section .star, .star2{
	width: 100%;
	height: 100%;
	background-image:url(../img/star.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	background-size: 100% 100%;	
}

section .content{
	width: 430px;
	height: 430px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -215px;
	margin-left: -215px;
	
}
.happy{
	width: 30%;
    position: relative;
    top: 50px;
    left: 30px;
}
.humben{
	position: relative;
    color: white;
    top: 300px;
    width: 80%;
    margin: 0 auto;
    text-indent: 2em;
    height: auto;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
}
.arrow{
	width: 91px;
	height: 65px;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -45.5px;
	-webkit-animation: arrow 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count:infinite;
	animation: arrow 1s;
	animation-fill-mode: forwards;
	animation-iteration-count:infinite;
	z-index: 10;
}


section.moveIn{
	-webkit-animation:moveIn 2s;
	animation:moveIn 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
section.moveOut .content div:nth-of-type(1){
	-webkit-animation: boomOut 1s;
	-webkit-animation-fill-mode: forwards;
	animation: boomOut 1s;
	animation-fill-mode: forwards;
}
section.moveOut .content div:nth-of-type(2){
	-webkit-animation: textOut 2s;
	-webkit-animation-fill-mode: forwards;
	animation: textOut 2s;
	animation-fill-mode: forwards;
}
section.moveOut .content div:nth-of-type(3){
	animation: qingOut 1s;
	-webkit-animation: qingOut 1s;
	
}
section.moveOut .star{
	animation: starOut 1s;
	animation-fill-mode: forwards;
	-webkit-animation: starOut 1s;
	-webkit-animation-fill-mode: forwards;
}

section.moveOut .table{
	animation: table 2s;
	animation-fill-mode: forwards;
	-webkit-animation: table 2s;
	-webkit-animation-fill-mode: forwards;
}
section.moveOut{
	animation: moveOut 2s;
	-webkit-animation: moveOut 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
section.moveOut_1{
	animation: moveOut_1 2s;
	-webkit-animation: moveOut_1 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

section.moveIn_1{

	animation: moveIn_1 1s;
	-webkit-animation: moveIn_1 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.withMe{
	width: 200%;
	height: 228px;
	display: block;
	font-size: 60px;
	left: 10%;
	position: fixed;
	top: 20%;
	text-align: center;
	opacity: 0;
}
.plan{
	width: 120px;
	-webkit-transform:rotate(30deg);
	position: fixed;
	top: 600px;
	left: 30px;
	opacity: 0;
}
.moon{
	position: fixed;
	top: -300px;
	width: 100%;
	opacity: 0;
}

.findFriend{
	width: 100px;
	height: 30px;
	background:#e91e63;
	position: fixed;
	left: 10%;
	bottom: 10%;
	color: white;
	border-radius: 10px;
	line-height: 30px;
	text-align: center;
	border:1px solid black;
	font-size: 15px;
	opacity: 0;
}
.singHit{
	width: 100px;
	height: 30px;
	background:#f30b2d;
	position: fixed;
	right: 10%;
	bottom: 10%;
	color: white;
	border-radius: 10px;
	line-height: 30px;
	text-align: center;
	border:1px solid black;
	font-size: 15px;
	opacity: 0;
}
 section.moveIn_1 .plan{
	-webkit-animation: plan_1 2s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
section.moveIn_1 .withMe{
	-webkit-animation:withMe 2s;
	-webkit-animation-fill-mode: forwards;
	animation:withMe 2s;
	animation-fill-mode: forwards;

	
} 
section.moveIn_1 .findFriend{
	-webkit-animation:singHit 2s;
	animation:singHit 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

}
section.moveIn_1 .singHit{
	-webkit-animation:singHit 2s;
	animation:singHit 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

}
section.moveIn_1 .rocker{
	-webkit-animation:rocker 2s;
	-webkit-animation-fill-mode: forwards;
	animation:rocker 2s;
	animation-fill-mode: forwards;

}
section.moveIn_1 .moon{
	-webkit-animation:moon 2s;
	-webkit-animation-fill-mode: forwards;
	animation:moon 2s;
	animation-fill-mode: forwards;
}

section.moveOut_1 .withMe{
	-webkit-animation:widthMeOut 2s;
	-webkit-animation-fill-mode: forwards;
	animation:widthMeOut 2s;
	animation-fill-mode: forwards;
}
section.moveOut_1 .moon{
	-webkit-animation:moonOut 2s;
	-webkit-animation-fill-mode: forwards;
	animation:moonOut 2s;
	animation-fill-mode: forwards;
}
section.moveOut_1 .findFriend{
	-webkit-animation:singHitOut 2s;
	animation:singHitOut 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
section.moveOut_1 .singHit{
	-webkit-animation:singHitOut 2s;
	animation:singHitOut 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
section.moveOut_1 .rocker{
	-webkit-animation:rockerOut 2s;
	-webkit-animation-fill-mode: forwards;
	animation:rockerOut 2s;
	animation-fill-mode: forwards;

}
#progress{
	display: none;
}
.progress{
	width: 466px;
	height: 31px;
	position: absolute;
	left: 50%;
	margin-left: -233px;
	background:#243367;
	bottom:119px;
	border:3px solid #4091dc;
	border-radius:31px;
	overflow: hidden;

}
.progressNum{
	width: 466px;
	height: 31px;
	position: absolute;
	left: 50%;
	margin-left: -233px;
	bottom: 75px;
	text-align: center;
	font-size: 31px;
	color: #4091dc;

}
.progress span{
	display: block;
	width: 0;
	height: 31px;
	background:#4091dc;
}

.friendCode{
	width: 70%;
	height: 300px;
	background:#ff5722;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	margin-left: 15%;
	z-index: 10;
	border-radius: 10px;
}
.friendCode .codeHead{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-size: 30px;
	position: relative;
}
.codeHead span{
	display: block;
	width: 50px;
	height: 50px;
	top:0;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	font-size: 50px;
	position: absolute;
	right: 0px;
}
.friendCode .codeInput{
	width: 100%;
	height: 180px;
	text-align: center;
}
.codeInput .code{
	width: 80%;
	height: 80px;
	background:white;
	margin-top: 20px;
	font-size: 30px;
	color: #ccc;
	z-index: 999;
	-webkit-user-select:text;
}
.codeInput span{
	display: block;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	color: #ccc;
	line-height: 20px;
}
.friendCode .codeOk{
	width: 100%;
	height: 70px;
	font-size: 30px;
	color: white;
	text-align: center;
	background: #ff9800;
	line-height: 70px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.gameTable{
	text-align: center;
	
}
.gameTable .connectRad{
	width: 105px;
	height: 50px;
	padding:none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -52.5px;
	text-align: center;
	display: none;
}
.connectRad li{
	display: inline-block;
	width: 30px;
	height: 30px;
	background:white;
	border-radius: 50%;
	
	position: absolute;
	left: 0;

}
.connectRad li:nth-of-type(2){
	left: 35px;
}
.connectRad li:nth-of-type(3){
	left: 70px;
}
.connectRad span{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: -30px;
	left:0px;
	color: white;
}


 .gameHead{
	width: 200px;
	height: 200px;
	
	position: absolute;
	top: 10px;
	
	display: block;
	text-align: left;
	padding-left: 20px;
	font-size: 30px;
	line-height: 50px;
	color: #ccc;
}
 .gameHeadRight{
		width: 200px;
	height: 200px;
	
	position: absolute;
	top: 10px;
	right: 0px;

	text-align: left;
	padding-left: 20px;
	font-size: 30px;
	line-height: 50px;
	color: #ccc;
}

#levelTo{
	width: 100%;
	height: 40px;
	position: absolute;
	top: 600px;
	font-size: 40px;
	line-height: 50px;
	color: #ff9800;
	font-weight: bold;
	text-align: center;
}