html,body{
	width: 100%;
	height: 100%;
}
html,body,li{

	overflow: hidden;

	margin:0;
	padding:0;
	border:0;
}
li{
	list-style: none;
}

section{
	width: 100%;
	height: 100%;
	background:#2d4081;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
section:nth-child(1){
	z-index: 99;
	display: none;

}
canvas{
	display: none;
}

.Index_2{
	background: #937cfd;

}
.text{
	background:url(../img/words.png) no-repeat;
	width: 280px;
	height: 120px;
	position: relative;
    top: -120px;
    left: -80px;
	animation:text 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.changE{
	width: 397px;
	height: 387px;
	background: url(../img/changeBk.png);
	position: relative;
    top: 200px;
    left: -100px;
    animation:changE 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
section .star, .star2{
	width: 100%;
	height: 100%;
	
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	background-size: 100% 100%;	
}
.moon{
	width: 100%;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	-webkit-animation:moon 2s;
	position: fixed;
	left: 0;
	transform:translateY(-10px)
}

section .content{
	width: 430px;
	height: 430px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -215px;
	margin-left: -215px;
	
}
.happy{
	
    width: 30%;
    position: fixed;
    right: 0;
    top: 30px;
}
.humben{
	position: absolute;
    color: white;
    top: 200px;
    left: 50%;
    transform:translateX(-50%);
    width: 80%;
    margin: 0 auto;
    text-indent: 2em;
    height: auto;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
}





.withMe{
	width: 200%;
	height: 228px;
	display: block;
	font-size: 60px;
	left: 10%;
	position: fixed;
	top: 20%;
	text-align: center;
	opacity: 0;
}
.plan{
	width: 120px;
	-webkit-transform:rotate(30deg);
	position: fixed;
	top: 600px;
	left: 30px;
	opacity: 0;
}


.findFriend{
	width: 100px;
	height: 30px;
	background:#e91e63;
	position: fixed;
	left: 10%;
	bottom: 20px;
	color: white;
	border-radius: 10px;
	line-height: 30px;
	text-align: center;
	border:1px solid black;
	font-size: 15px;

}
.singHit{
	width: 100px;
	height: 30px;
	background:#f30b2d;
	position: fixed;
	right: 10%;
	bottom: 20px;
	color: white;
	border-radius: 10px;
	line-height: 30px;
	text-align: center;
	border:1px solid black;
	font-size: 15px;
	
}
 section.moveIn_1 .plan{
	-webkit-animation: plan_1 2s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
section.moveIn_1 .withMe{
	-webkit-animation:withMe 2s;
	-webkit-animation-fill-mode: forwards;
	animation:withMe 2s;
	animation-fill-mode: forwards;

	
} 
section.moveIn_1 .findFriend{
	-webkit-animation:singHit 2s;
	animation:singHit 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

}
section.moveIn_1 .singHit{
	-webkit-animation:singHit 2s;
	animation:singHit 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

}
section.moveIn_1 .rocker{
	-webkit-animation:rocker 2s;
	-webkit-animation-fill-mode: forwards;
	animation:rocker 2s;
	animation-fill-mode: forwards;

}


section.moveOut_1 .withMe{
	-webkit-animation:widthMeOut 2s;
	-webkit-animation-fill-mode: forwards;
	animation:widthMeOut 2s;
	animation-fill-mode: forwards;
}

section.moveOut_1 .findFriend{
	-webkit-animation:singHitOut 2s;
	animation:singHitOut 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
section.moveOut_1 .singHit{
	-webkit-animation:singHitOut 2s;
	animation:singHitOut 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
section.moveOut_1 .rocker{
	-webkit-animation:rockerOut 2s;
	-webkit-animation-fill-mode: forwards;
	animation:rockerOut 2s;
	animation-fill-mode: forwards;

}
#progress{
	display: none;
}
.progress{
	width: 466px;
	height: 31px;
	position: absolute;
	left: 50%;
	margin-left: -233px;
	background:#243367;
	bottom:119px;
	border:3px solid #4091dc;
	border-radius:31px;
	overflow: hidden;

}
.progressNum{
	width: 466px;
	height: 31px;
	position: absolute;
	left: 50%;
	margin-left: -233px;
	bottom: 75px;
	text-align: center;
	font-size: 31px;
	color: #4091dc;

}
.progress span{
	display: block;
	width: 0;
	height: 31px;
	background:#4091dc;
}

.ending{
	width: 228px;
	height: 364px;
	background: url(../img/ending.png);
	background-position: -90px -28px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -114px;
	margin-top: -182px;
	z-index: 99;
	box-sizing: border-box;
	padding-top: 180px;
	text-align: center;
	font-size: 16px;
	display: none;
}
.input{
	width: 100%;
	height: 30px;
	position: absolute;
	display: flex;
	align-items:center;
	bottom: 20px;
}
.btn{
	width: 30px;
	margin: 0 auto;
	height: 30px;
	background-size: 100% 100%;
	
}
.again{
	background-image: url(../img/again.png);

}
.sort{
	background-image: url(../img/sort.png);
	
}
.share{
	background-image: url(../img/share.png);
	
}